*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(0, 0, 0); */
}

.container{
  height: fit-content;
  width: fit-content;
  flex-wrap: wrap;
  background-color: beige;
  border-radius: 20px;
  margin: 15px;
}

h1{
  font-size: 20px;
  padding: 15px;
  color: brown;
  align-items: center;
}

.container p{
  font-size: 15px;
  color: rgb(252, 139, 0);
  padding: 15px;
}